*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    padding: 2em;
    max-width: 800px;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #333333;
    background-color: #003322;
    box-shadow: 0 0 12px rgba(0, 0, 3, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    
}

header {
        padding: 0.625em 5%;
        font-family: Frutiger, "Frutiger        Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        color: #fff
}  



nav {
    background: url(tree_bark/tree.png);
    padding: 0.625em 5%;
}
nav a {
    color: #aaaaaa;
}

article {
    background: url(tree_bark/tree.png);
    padding: 0.625em 5%;
    color: #2b1b17;
    font-size: 0.9em;
}
footer {
    padding: 0.625em 5%;
    color:#1a99c4;
    
}
        
            
header h1 {
    margin: 10px 0;
    font-size:80px;
    padding-bottom:5px;
}

    
}
p {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height:24px;
        
}

article ul {
    margin: 16px 0;
}

article li{
    list-style-type: circle;
    margin-left:24px;
    margin-bottom:12px;
}

aside {
    background: url(tree_bark/tree.png);
    padding: 1.5em 5% 0.625em;
    color: #2b1b17;
    font-size: 0.9em;;
    float: right;
    width: 30%; 
    margin: 0 0 10px 5%;
}

footer {
    clear: right;
    font-size: 12px;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}