@charset "UTF-8";

* {box-sizing: border-box;}

/*main content*/
body {
    margin: 0 auto;
    padding: 2em;
    max-width: 800px;
    font-family: Arial, Helvetica, san-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #fff;
    background-color: #096600;
    
}

img {width: 100%;}

#wrapper {
    background-color: #fff;
    margin: 0 auto;
    width: 90%;
    padding: 1px 10px
}

nav, section, footer {
      background-color: #096600;
    padding: 0 10px;    
}

header {
        
}    

header h1 {
    margin: 10px 0;
    font-size:80px;
    padding-bottom: 50px;
    font-family:  Arial, Helvetica, san-serif;
    line-height: 1px;
    text-indent: -10000px;
}
header img{
        margin-top: 10px;
}
nav{
    margin-top: 10px;
    
    
    
}

section{
  
}
        

footer {
   
        
   
}


#page {
    background: #f3cfb6;
}



  
    
article {
    background: url(tree_bark/tree.png);
    padding: 1.5em 5% 0.625em;
    color: #096600;
    font-size: 0.9em;
}

        
            

article h1 {
    font-family: Arial, Helvetica, san-serif;
    font-size:32px;
    font-weight:700;
    margin: 0 0 20px;
    line-height: 8px
}
p {
    margin:16px 0;
    
}

article ul {
    margin: 16px 0;
}


@media screen and (max-width: 600px) {
    
    body {
       padding: 3%;
    
    } 
    
    #h1, h2 {
        text-align: center;
        
    }
    
    #p {
        text-align: left
        
        
    }
    nav {
        width: 100%;
        
        
    }
    #content {
       
        clear: left;
        margin-left: 5%;
        width: 100%;
}
    
    